@{
    ViewBag.Title = "Home Page";
}


    <div class="jumbotron">
        <h1 style="background-color:cornflowerblue" "font-family:Verdana"><strong>Sky Amusement Park</strong> </h1>
        <div class="row">
            <div class="col-md-4">
            <img src="https://www.stickpng.com/assets/images/585ab5a04f6ae202fedf2931.png" width="200" height="200" />
            </div>
            <div class="col-md-4">
            <p style="color:white" >Welocme to World's No 1 Amusement Park  The Sky Amusement Park!. The park had many rides  made for family and kids</p>
            </div>
        </div>
       
    </div>





<div class="row">
    
    <div class="col-md-4">
        <h2 style="border:2px solid Tomato; background-color:yellow;">Timings </h2>

        <table>
            <tr>
                <th>Week</th>
                <th>From</th>
                <th>TO</th>
            </tr>
            <tr>
                <td>Monday</td>
                <td>09 AM</td>
                <td>04 PM</td>
            </tr>
            <tr>
                <td>Tuesday</td>
                <td>09 AM</td>
                <td>04 PM</td>
            </tr>
            <tr>
                <td>Wednesday</td>
                <td>09 AM</td>
                <td>04 PM</td>
            </tr>
            <tr>
                <td>Thursday</td>
                <td>09 AM</td>
                <td>04 PM</td>
            </tr>
            <tr>
                <td>Friday</td>
                <td>09 AM</td>
                <td>04 PM</td>
            </tr>
            <tr>
                <td>Saturday</td>
                <td>09 AM </td>
                <td>04 PM</td>
            </tr>
            <tr>
                <td>Sunday</td>
                <td>11 AM </td>
                <td>04 PM</td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <img src="https://images3.alphacoders.com/918/thumb-1920-91839.jpg" width="900" height="350" />
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        
    </div>
</div>
<p> <img src="https://res.cloudinary.com/simplotel/image/upload/x_0,y_131,w_1400,h_788,r_0,c_crop,q_60,fl_progressive/w_1100,f_auto,c_fit/wonderla-amusement-parks-resort/Swimming_pool_b9gqgg"  /> </p>
<img src="https://res.cloudinary.com/simplotel/image/upload/x_0,y_142,w_2736,h_1538,r_0,c_crop,q_60,fl_progressive/w_1100,f_auto,c_fit/wonderla-amusement-parks-resort/CAROUSAL_KIDS_w9z5p4" />