@{
    Page.Title = "Title goes here";
    //Layout = "Your Layout Page goes here";
}



    <div class="row">
        <h1 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"><strong><u>For Kids</u></strong></h1>
        <div class="col-md-4">
            <img src="https://i.pinimg.com/originals/a2/73/e9/a273e9d25122747c1bfcb73f1203094a.jpg" width="250" height="200" />
            <h2 style="font-family:Jokerman">Carousel</h2>
        </div>
        <div class="col-md-4">
            <img src="https://amusementrides.org/wp-content/uploads/2016/05/What-Are-Kids-Train-Ride-Adventures.jpg" width="250" height="200" />
            <h2 style="font-family:Jokerman">Kids Train</h2>
        </div>
        <div class="col-md-4">
            <img src="https://i.pinimg.com/originals/04/76/8b/04768b132056f98e66db6e2569a91683.jpg" width="250" height="200" />
            <h2 style="font-family:Jokerman">Kids Pirate Ship</h2>
        </div>
        <div class="col-md-4">
            <img src="https://res.klook.com/images/fl_lossy.progressive,q_65/c_fill,w_1295,h_720,f_auto/w_80,x_15,y_15,g_south_west,l_klook_water/activities/ipsiqv9puhknzryfaqdw/T-PlayKidsIndoorPlayground.jpg" width="250" height="200" />
            <h2 style="font-family:Jokerman">Indoor Playground</h2>
        </div>
        <div class="col-md-4">
            <img src="https://i.ytimg.com/vi/6Jf-gfufrls/maxresdefault.jpg" width="250" height="200" />
            <h2 style="font-family:Jokerman">Trampoline</h2>
        </div>
        <div class="col-md-4">
            <img src="https://i.pinimg.com/originals/bf/97/7f/bf977ffd5ee1f8f301816c16a8d5e709.jpg" width="250" height="200" />
            <h2 style="font-family:Jokerman">Pendulam Rides</h2>
        </div>


        <h1 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"><strong><u>For Family</u></strong></h1>
        <div class="col-md-4">
            <img src="https://i.pinimg.com/originals/bf/97/7f/bf977ffd5ee1f8f301816c16a8d5e709.jpg" width="250" height="200" />
            <h2 style="font-family:Jokerman">Pendulam Rides</h2>
        </div>
        <div class="col-md-4">
            <img src="https://i.pinimg.com/564x/e1/6b/fc/e16bfc062b948d6145ba67b1d64b3cf1.jpg" width="250" height="200" />
            <h2 style="font-family:Jokerman">Pirate Ship</h2>
        </div>
        <div class="col-md-4">
            <img src="https://www.fantasyislandresort.co.uk/wp-content/uploads/2017/03/The-Dodgems-21-1.jpg" width="250" height="200" />
            <h2 style="font-family:Jokerman">Dodgems</h2>
        </div>
        <div class="col-md-4">
            <img src="https://www.tripsavvy.com/thmb/tLhZxpukJ2ZwVY61gnQn4Vn9q6U=/960x0/filters:no_upscale():max_bytes(150000):strip_icc()/Maverick-at-Cedar-Point-Roller-Coaster-59133ffc5f9b5864703074e6.jpg" width="250" height="200" />
            <h2 style="font-family:Jokerman">Roller Coaster</h2>
        </div>
        <div class="col-md-4">
            <img src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F28%2F2017%2F05%2F23-divertical-mirabilandia-WATERSLIDE0517.jpg" width="250" height="200" />
            <h2 style="font-family:Jokerman">Water Coaster</h2>
        </div>
        <div class="col-md-4">
            <img src="https://static01.nyt.com/images/2017/07/04/arts/mammoth-vid/mammoth-vid-videoSixteenByNine3000.jpg" width="250" height="200" />
            <h2 style="font-family:Jokerman">Water Ride</h2>
        </div>
        <div class="col-md-4">
            <img src="https://fallsavenueresort.com/wp-content/uploads/2014/06/waterpark-header-far.jpg" width="250" height="200" />
            <h2 style="font-family:Jokerman">Water Slide</h2>
        </div>

    </div>
    
